# Archivos de PyInstaller
build/
dist/
*.spec

# Caché de Python
__pycache__/
*.pyc
.pytest_cache/
.vscode/

# Base de datos local
Assets/puestito.db
Assets/puestito.db-shm
Assets/puestito.db-wal
firebase_credentials.json
# Archivos temporales
ERROR_CRITICO.txt
*.log
*.VSCodeCounter

# Entornos virtuales (por si acaso tienes uno)
venv/
env/